

.comment{
    width:880px;
    height:85px;
    margin-top: 20px;
    border:1px solid #ccc;
}
.comment textarea{
    width:880px;
    height:70px;
    border:none;
}
.comment span{
    float: right;
    color: #ccc;
    font-size: 12px;
    height:12px;
    margin:-12px 5px 0 0;
}
.btn_box{
    width:880px;
    overflow: hidden;
    margin-top:20px;
}
.fabiao_btn{
    color: #fff;
    font-size: 16px;
    text-align: center;
    float: right;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #68cb9b;
}
.fabiao_btn:hover{
    background-color: #5cb888;
}
.box_img{
    float: left;
    width:40px;
}
.box_img .nick{
    width: 40px;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 5px;

}
.box_img .img{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-image: url(imgs/tx-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.comment_body{
    width: 820px;
    float: right;
}
.comment_con{
    color: #333;
}
.comment_con_top{
    min-height:50px;
}
















.fenye{
    width:880px !important;
}