.container{
    margin: 80px auto;
    width:1200px;
}
.container .title{
    color: #68cb9b;
    font-size: 24px;
    font-weight:lighter;
    padding:20px 0;
    border-bottom: 1px solid #ddd;
}
.intro_body ul.pull-left li{
    color: #666;
    font-size: 16px;
    height:20px;
    line-height: 20px;
    margin:20px 20px 0 0;
    padding-left: 20px;
    border-left:5px solid #666;
}
.intro_body ul.pull-left li a{
    color: #666;
}
.intro_body ul.pull-left li.active{
    border-left:5px solid #68cb9b;
}
.intro_body ul.pull-left li.active a{
    color: #68cb9b;
}
.intro_body .pic{
    width:260px;
    height:260px;
    padding:10px;
    text-align: center;
    box-shadow: 0 0 6px #ccc;
    margin-left:30px;
}
.intro_body .pic img{
    width:260px;
    height:260px;
}
.intro_body .intro{
    width:740px;
    color: #333;
}
.intro_body .intro .name{
    font-size: 24px;
    font-weight: lighter;
}
.intro_body .intro .job{
    font-size: 16px;
}


/* 主讲课程 */
.kecheng_body {
    width: 1200px;
    margin: 40px auto;
    overflow: hidden;
}

.kecheng_body ul {
    overflow: hidden;
    margin-left: -60px;
}
.kecheng_body .tp {
    width: 25%;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.kecheng_body .tp .pic{
    height: 120px;
    margin-left: 60px;
    overflow: hidden;
    position: relative;
}
.kecheng_body .tp .title{
    padding: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-left: 60px;
}
.kecheng_body .tp img{
    width: 100%;
    min-height: 120px;
    vertical-align: middle;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.kecheng_body .tp img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.kecheng_body .tp:hover .triangle{
    animation: my 0.8s cubic-bezier(0, 0, 0.2, 1);
    transform: scale(1);
}
@keyframes my {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.kecheng_body .tp .triangle{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.53);
    transform: scale(0);
    transform-origin: 0 0;
}
.kecheng_body .tp .triangle .shadow{
    width: 18px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0, 0, 0, 0)));
    transform: rotateZ(43deg) translateY(-37px) translateX(-18px);
}